<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2 class="text-center">Profile</h2>
    <br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.text_field :fullname, autofocus: true, placeholder: "Fulln Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", placeholder: "New Password (Leave blank if you don't want to change it)", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "current Password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
    </div>
</div>
