<div class="row">
  <div class="col-md-4 col-md-offset-4">

      <h2 class="text-center">Sign up</h2>
      <br/>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.text_field :fullname, autofocus: true, placeholder: "Fulln Name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
</div>
